*,
*::before,
*::after {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(156, 219, 67);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    min-height: 100vh;
    
    
}

h1 {
font-size: 3rem;
color: blue;
margin-top: 20px;
margin-left: 2rem;



}

.logo_container {
    display: flex;
    justify-content: center;


}
.logo {
    width: 600px;
    max-width: 90%;
    border-style: dashed;
    border-top-color: yellow;
    border-left-color:  blue;
    border-bottom-color: yellow ;
    border-right-color: blue;
    border-width: 4px;

    
    
}

.header_section {
     display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    width: 600px;
    max-width: 90%;

}

.main_content {
background-color: rgb(39, 104, 160);
display: flex;
flex-direction: column;
justify-content: flex-start;
padding: 10px;
border-radius: 10px;
border-style: groove;
border-color: rgb(11, 11, 10);
width: 90%;
max-width: 600px;
gap: 20px;
    
}

.main_content h2 {
    margin-bottom: 1rem;
    color: rgb(255, 153, 0);
}

.label { 
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: white;

}

.input_field {
    padding: 5px;
    border-radius: 10px;
    border-style: solid;
    border-style: inset;
    width: 80%;

}

input {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.btn_container {
    display: flex;
    justify-content: flex-end;
    

}

.btn {
   font-size: large; 
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   border-radius: 5px;
   border-style: outset;
   border-color:  rgb(39, 104, 160);
   padding: 2px;
   color: rgb(255, 153, 0);
   
}

.btn:hover {
    cursor: pointer;
}

#content {
    font-size: 1rem;
    margin-bottom: 1%;
    border-style: solid;
    background-color: aliceblue;
    padding: 2rem;
}